* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full{
    margin: auto;
    height: 100%;
    width: 40vw;
    position: relative;
}
.full img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
}
section{
    margin: auto;
    height: 100%;
    width: 40vw;
   
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    /* background-color: blueviolet; */
    padding: 5px 5px;
    /* border-bottom: 1px solid black; */
}

.insta-logo {
    height: 5vh;
    width: 344px;
object-fit: cover;
     object-position: center; 

}

.insta-logo img {
    height: 100%;
    width: 100%;
    margin: 8px;
}

.nav-right {
    width: 25%;
}

.nav-right i {
    padding: 0 5px;
}

.nav-icons i {
    font-size: 80px;
}

#fullheight {
    height: 100vh;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    display: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.my-stories {

    height: 5px;
    width: 5px;
    background-color: lightseagreen;

}

.yt {
    position: relative;
}

.yt::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    border: 2px solid white;
    background: blue;

}

.storiesContainer {
    height: 17vh;
    /* background-color: bisque; */
    padding: 10px 10px;
    align-items: center;
    border-bottom: 1px solid rgba(101, 99, 99, 0.424);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

.storiesContainer::-webkit-scrollbar {
    display: none;
}

.story {
    height: 312px;
    /* background-color: aliceblue; */
    width: 312px;
    border-radius: 50%;
    background: linear-gradient(orange, red, purple, blue, yellow);
    padding: 3px;
    margin-right: 15px;
    display: inline-block;
}

.story img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
     object-position: center; 
}

.rendom-users {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    /* background-color: blueviolet; */
    padding: 5px 5px;
}

 #heart{
    color: white;
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;  
     transform: translate(-50%,-50%) scale(0); 
    opacity: 0.8;
  
} 
#bheart{
    color:white;
    border:2px solid black;
}
.user-name {
    display: flex;
    justify-content: center;
    align-items: center;

}

.name {
    margin-left: 22px;
    font-size:2rem;
}

.dot {
    width: 25px;
    /* background-color: red; */
    height: 4.5vh;
    margin: 0;
}

.dot img {
    height: 100%;
    width: 100%;
    margin-top: -3px;
}

.profile-pic {
    height: 100px;
    /* background-color: aliceblue; */
    width: 100px;
    border-radius: 50%;
    border: 1px solid gray;
}

.profile-pic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.post {
    height: 50vh;
    background-color: coral;
    position: relative;
}

.post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
     object-position: center; 
}

.detail-con {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    /* background-color: blueviolet; */
    padding: 5px 5px;
    align-items: center;
}

.detail-con i {
    font-size: 53px;
    margin-right: 5px;
}

.media-all {
    margin-top: 5px;
}

.bottom-bar {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    position: fixed;
    border-top: 1px solid rgba(101, 99, 99, 0.424);
    top: 95vh;
    margin: auto;
    width: 100%;
    left: 9;
}

.bottom-bar span a {
    text-decoration: none;
    color: black;
}

.bottom-bar span a i {
    font-size: 60px;
    font-weight: 700;
}


@media screen and (max-width: 1000px) {
   
   .full{
    width: 100%;
       left:0;
   }
    section {
        width: 100%;

    }

    .bottom-bar {
        width: 100%;
    }
}
